body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin: 0 10px;
}

.datepicker {
    margin: 0 10px;
}

#graphs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#graph-sentimento, #graph-resolutividade, #graph-qualidade {
    width: 30%;
    min-width: 300px;
}

#download-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
